<app-header> </app-header>
<div class="wrapper">
  <div class="card-container" *ngFor="let user of u">
    <div class="card" style="width: 18rem">
      <img src="{{ user.avatar }}" class="card-img-top" alt="avatar" />
      <div class="card-body">
        <h5 class="card-title">{{ user.id }}</h5>
        <p class="card-text">{{ user.first_name }} {{ user.last_name }}</p>

        <p class="card-text">{{ user.email }}</p>
      </div>
    </div>
  </div>
</div>

<div class="pages-navigator">
  <button
    class="glyphicon glyphicon-chevron-left"
    (click)="changePage('previus', users?.page)"
  ></button>
  {{ users?.page }}
  <button
    class="glyphicon glyphicon-chevron-right"
    (click)="changePage('next', users?.page)"
  ></button>
</div>
<app-footer> </app-footer>
